<div class="page-header">
  <h1>About Us</h1>
</div>
<div>
  <h4>We are an e-commerce store that sells the most unique and highly sought-after products you will ever see.</h4>
  <h4>As of right now, we are stocked with: <%= Product.count %> unique products, spanning <%= Category.count %> categories!</h4>
  <h4>We hope you enjoy your stay and happy browsing!</h4>
</div>